<div class="text-center my-5">
    <h1>Witamy w TRUSIRENT</h1>
    <h5>Twoja wypożyczalnia pojazdów – szybko, wygodnie i bez komplikacji.</h5>
</div>

<div class="text-center mt-4">
    <a class="btn btn-primary btn-lg" asp-controller="Vehicle" asp-action="List">
        Przeglądaj pojazdy
    </a>
</div>