<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>TRUSIRENT – Wypożyczalnia pojazdów</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @RenderSection("Styles", required: false)
</head>

<body>

    <partial name="_Nav" />

    <main class="py-5 bg-body-tertiary">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <partial name="_Carousel" />

    @RenderSection("Scripts", required: false)

</body>
</html>