<h1 class="my-5">
    Skontaktuj się z nami
</h1>

<div class="row">
    <img src="~/Images/contact/crowd.webp" class="col-7" />

    <div class="col-5">
        <h2>Masz pytania?</h2>
        <h5>Wyślij nam wiadomość e-mail, a odpowiemy najszybciej jak to możliwe.</h5>

        <email address="admin@trusirent.pl" content="Napisz do nas" class="btn btn-secondary"></email>
    </div>
</div>